
body{color:lightblue;}
.size{font-size:23px;
font-weight:900;}
.mexicog{color:darkgreen;
font-size:20px;}

.mexicor{color:red;
font-size:20px;}

.mexicow{color:white;
    background-color: black;
}


